.task {
  background-color: #353535;
  margin: 8px 0;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
}

.task:hover .task__highlight {
  background-color: #14ff64;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.task__part {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  margin: auto;
  cursor: pointer;
}

.task__highlight {
  height: 100%;
  width: 5px;
  display: inline-block;
}

.task__center {
  padding: 8px 0;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
