.type-logo
{
    font-family: 'Fira Sans Condensed';
    font-size: 3em;
    font-weight: 900;
    font-style: italic;

    letter-spacing: 2px;

    color: blue;
}

.type-logo__dot
{
    color: red;
}
